<h2 [ngClass]="titreClass">Page Gestion</h2>

@if (dernierContact) {
  <p [ngClass]="pClass"> Prénom : {{ dernierContact.prenom }}</p>
  <p [ngClass]="pClass"> Nom : {{ dernierContact.nom }}</p>
  <p [ngClass]="pClass"> Âge : {{ dernierContact.age }}</p>
  @if (!dernierContact.cacherEmail) {
    <p [ngClass]="pClass"> Email : {{ dernierContact.email }}</p>
  }
  <p [ngClass]="pClass">Commentaire : {{ dernierContact.commentaire }}</p>
} @else {
  <h4 [ngClass]="errorClass"> 404 - Aucun formulaire trouvé</h4>
  <div [ngClass]="centre">
    <img src="assets/404.png" alt="404 not found" [ngClass]="imgClass" [ngStyle]="imgStyle">
  </div>
}
