@import "bootstrap/dist/css/bootstrap.min.css";
html, body {
    height: 100%;
    margin: 0;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // toute la hauteur de l’écran
  }
  
  .main-container {
    flex: 1; // prend tout l’espace disponible entre header et footer
  }
  